<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.1" targetFramework="net461" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="VVVV.Core" version="35.8.0" targetFramework="net461" />
  <package id="VVVV.PluginInterfaces" version="35.8.0" targetFramework="net461" />
  <package id="VVVV.SlimDX" version="1.0.2" targetFramework="net461" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Utils" version="35.8.0" targetFramework="net461" />
</packages>